<div class="boxA">
  <div class="box1">
    <div class="site">
      <h1><a href="#">麹町ハッカー部 by 野呂浩良</a></h1>
    </div>
  </div>

  <div class="box2">
    <nav class="menu">
      <ul>
        <li><a href="#">トップ</a></li>
        <li><a href="#">お問い合わせ</a></li>
        <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>

<div class="box3">
  <%= image_tag("header.png", class: "topimg", class: "img-responsive") %>
</div>

<div class="box4">
  <div class="box4-1">
    <div class="merit">
      <a href="#">
      <i class="fa fa-database"></i>        
      <h1>GMBA生向け</h1>
        <p>Globis Entrepreners Club Member 限定の特別プログラム。DAY1受講から6ヶ月でMBAハッカーに進化させます。</p>
      </a>
    </div>
  </div>
  <div class="box4-2">
    <div class="merit">
      <a href="#">
      <i class="fa fa-bar-chart"></i>
        <h1>オンラインサポート付き</h1>
        <p>専用のfacebookグループ内やNitrousのコラボレーション機能を経由して随時オンラインサポート
          </p>
      </a>
    </div>
  </div>
  <div class="box4-3">
    <div class="merit">
      <a href="#">
      <i class="fa fa-envelope"></i>
      <h1>チーム開発＆ハッカソン</h1>
        <p>MBA生によるビジネスアイデアに基づいてリーンスタートアップとチーム開発を開催・実践します
      </p>
      </a>
    </div>
  </div></div>

<div class="box5">
  <div class="copyright">
    <p>Copyright &copy; Dive into Code feat.麹町ハッカー部</p>
  </div>
</div>
