body {
  margin: 0;
  font-family: 'メイリオ',
  'Hiragino Kaku Gothic Pro', sans-serif
}

.boxA:after {
  content: "";
  display: block;
  clear: both
}

.box1 {
  float: left;
  width: auto
}

.box2 {
  float: right;
  width: auto
}

/* サイト名 */
.site h1 a {
  color: white;
  text-decration: none
}

.site h1 {
  margin: 0;
  font-size: 30px
}

/* ナビゲーション */
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none
}
.menu li a {
  display: block;
  padding: 10px 15px;
  color: white;
  font-size: 14px;
  text-decoration: none
}

.menu li a:hover {
  background-color: #eeeeee
}
.menu ul:after {
  content: "";
  display: block;
  clear: both
}

.menu li {
  float: left;
  width: auto
}

/* ヘッダー画像 */
.topimg {
  width: 1500px;
  max-height: 200;
  vertical-align: bottom
}

.box5 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #dddddd
}

.boxA {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: black
}

.box4 {
  background-color: #e8e8c4
}

.box4:after {
  content: "";
  display: block;
  clear: both
}

.box4-1 {
  float: left;
  width: 32%;
  margin-right: 2%
}

.box4-2 {
  float: left;
  width: 32%;
  margin-right: 2%
}

.box4-3 {
  float: left;
  width: 32%;
}

.merit h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px
}

.merit p {
  margin-top: 0;
  margin-bottom: 0
}

.merit a {
  display: block;
  background-color: #222222;
  color: #ffffff;
  text-align: center;
  text-decoration: none
}
.merit a:hover {
  opacity: 0.8
}
/* 左右に隙間を入れる */
.boxA, .box4, .box5 {
  padding-left: 15px;
  padding-right: 15px
}
.merit i {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 38px
}

.merit .fa-database {
  background-color: #bfbd13
}

.merit .fa-bar-chart {
  background-color: #c58839
}

.merit .fa-envelope {
  background-color: #859f46
}

.merit p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #524e3c;
  font-size: 12px    
}

.merit a {
  display: block;
  background-color: #222222;
  color: #ffffff;
  text-align: center;
  text-decoration: none
}

.copyright p {
  margin: 0;
  text-align:center;
  color: #666666;
  font-size: 14px  
}